<h1>Productos</h1>
<div class="product-grid">
  {{#each products}}
  <div class="product-card fade-in">
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p><strong>${{this.price}}</strong></p>

    <a href="/products/{{this._id}}" class="btn-detail">Ver detalles</a>

    <form method="POST" action="/api/carts/{{../cartId}}/product/{{this._id}}">
      <button type="submit">Agregar al carrito</button>
    </form>
  </div>
  {{/each}}
</div>

<div class="pagination">
  {{#if hasPrevPage}}<a href="?page={{prevPage}}">⬅ Anterior</a>{{/if}}
  <span>Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}<a href="?page={{nextPage}}">Siguiente ➡</a>{{/if}}
</div>
